.tags
.template-files.mk
*.DS_Store
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*.xslt
*~
/.*.mk
/.cargo/
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
draft-*.html
draft-*.pdf
draft-*.txt
draft-condrey-content-binding.xml
Gemfile.lock
issues.json
lib
node_modules/
package-lock.json
pulls.json
report.xml
rfc2629xslt
!requirements.txt
